@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

.tela2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo>img {
    width: auto;
    height: 227px;
    position: relative;
}

.camada-preta{
    width: 100%;
    height: 227px;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    top: 69px;
    left: 0px;
}

.topo>h1 {

    position:absolute;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;

}

.main{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}

.perguntas-quizz{
    width: 759px;
    height: 676px;
    background-color: #ffffff;
    margin: 42px auto;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta {
    width: 688px;
    height: 128px;
    background-color: #434CA0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:27px;
    left: auto;
    font-size: 23px;
    font-weight: 700;
}

.alternativas {
    position: absolute;
    top: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.alt {
    position: relative;
}


.esbranquicada {
    opacity: 0.5;
}

.alt>img {
    width: 330px;
    height: 175px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 18px;
}

.alt>p{
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.true-false{
    display: none;
}

.resultado-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.resultado-quizz {
    background-color: #FFFFFF;
    width: 759px;
    height: 430px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultado-topo {
    background-color:#EC362D;
    width: 727px;
    height: 99px;
    margin-top: 18px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#FFFFFF;
    font-size: 23px;
    font-weight: 700;
}

.resultado-main {
    margin-top:18px;
    display: flex;
}

.resultado-main>img {
    width: 364px;
    height: 273px;
}

.texto-resultado {
    width: 328px;
    height: auto;
    margin-left: 21px;
}

.botao-reiniciar-quizz {
    background-color: #EC362D;
    width: 260px;
    height: 52px;
    border-radius: 15px;
    margin-top: 57px;
    color:#FFFFFF;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.voltar-pra-home {
    background-color: #E5E5E5;
    width: 260px;
    height: 52px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818181;
    font-size: 21px;
    font-weight: 400px;
    border: none;
}


.resultado-todo>img {
    width: 500px;
    height: auto;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.resultado-todo>h1 {

    position:absolute;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    top: 387px;
    left: 600px;
}

.caixa-pergunta {
    display: flex;
    flex-direction: column;
}

.caixa-nivel {
    display: flex;
    flex-direction: column;
}

@media (max-width:1100px){
    .topo>img {
        height: 172px;
    }

    .camada-preta{
        height: 172px;
    }

    .topo>h1 {
        font-size: 19px;
    }

    .perguntas-quizz{
        width: 375px;
        height: 436px;
    }

    .pergunta{
        width: 340px;
        height: 89px;
    }

    .alt>img{
        width: 163px;
        height: 118px;
    }
    
    .alt>p{
        font-size: 13px;
    }
}