@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');



.topo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo>img {
    width: auto;
    height: 227px;
    position: relative;
}

.camada-preta{
    width: 100%;
    height: 227px;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    top: 69px;
    left: 0px;
}

.topo>h1 {

    position:absolute;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;

}

.main{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}

.perguntas-quizz{
    width: 759px;
    height: 676px;
    background-color: #ffffff;
    margin: 42px auto;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta {
    width: 688px;
    height: 128px;
    background-color: #434CA0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:27px;
    left: auto;
    font-size: 23px;
    font-weight: 700;
}

.alternativas {
    position: absolute;
    top: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.alt0, .alt1, .alt2, .alt3 {
    position: relative;
}

.esbranquicada {
    opacity: 0.5;
}

.alt0>img, .alt1>img, .alt2>img, .alt3>img {
    width: 330px;
    height: 175px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 18px;
}

.alt0>p, .alt1>p, .alt2>p, .alt3>p{
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.true-false{
    display: none;
}

